/* Generic Styles */
body {
    font-family: 'Acme', sans-serif;
    font-size: 13pt;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.text-center {
    text-align: center;
}

/* Fixed layout for the application */
#app {
    max-width: 400px;
    background: #FOF7F4;
    border: 6px solid #353839;
    border-radius: 8px;

}
/* Header styling */
header img {
    background: #FOF7F4;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    width: 380px;
    margin-top: 5px
}

/* Main game area styling */
article {
    height: 430px;
    overflow: auto;
    color: #353839;
    padding: 0.5rem;
    position: relative;
}
article h2, h3 {
    margin: 0;
    text-decoration: underline;
}
article li {
  padding-bottom: 0.5rem;
}
.game-message {
  text-align: center;
  padding-top: 0.5rem;
  font-size: 16pt;
  margin-top: 15px;
  margin-bottom: -20px;
  font-weight: bold;
}
/*Game Buttons*/
.start {
    background-color: #ef3c42;
    color: #ffffff;
    font-family: 'Acme', sans-serif;
    border-color: #000000;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 13pt;
    margin: 2px 2px;
    cursor: pointer;
}
.restart {
    background-color: #ef3c42;
    color: #ffffff;
    font-family: 'Acme', sans-serif;
    border-color: #000000;
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 12pt;
    margin: 2px 2px;
    cursor:pointer;
}
.start, .restart {
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}
.start:hover, .restart:hover {
  background-color: #ffe800;
  color: #000000;
}

/*Game Buttons*/
.start-mobile, .restart-mobile {
    background-color: #ef3c42;
    color: #ffffff;
    font-family: 'Acme', sans-serif;
    border-color: #000000;
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 15pt;
    margin: 2px 2px;
    cursor: pointer;
}

.start-mobile, .restart-mobile {
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

.start-mobile:hover, .restart-mobile:hover {
  background-color: #ffe800;
  color: #000000;
}
.mobile {
  margin-left: -20px;
  font-size: 16pt;
  font-weight: bold;
}
/* Footer styling */
footer {
    background: #353839;
}
.footer-left {
  color: #ffe800;
  font-size: 0.9rem;
  padding: 0.5rem;
}
.footer-right {
  color: #ef3c42;
  font-size: 0.9rem;
  padding: 0.5rem;
}
footer:after {
    content: ' ';
    display: table;
    clear: both;
}
::-webkit-scrollbar {
    display: none;
}
